# Puerto y Entorno
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

# Configuración de Base de Datos MySQL / MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_imagenes
DB_DIALECT=mysql

# Autenticación JWT
JWT_SECRET=tu_clave_secreta_jwt_muy_segura_aqui_12345
JWT_EXPIRES_IN=24h

# Configuración CORS (Separados por coma para múltiples orígenes, o * para todos)
CORS_ORIGIN=*

# Token de Seguridad Privada para Comunicación Frontend <-> Backend
API_SECRET_KEY=tu_token_privado_secreto_aqui_12345

